  

<!-- <nav ngbNav #nav="ngbNav" class="nav-tabs navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="#">Smoking Cessation App</a>
    <ng-container ngbNavItem>
      <a ngbNavLink href="/home">Home</a>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Badges</a>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Leaderboard</a>
      <ng-template ngbNavContent>
        <div class="item-container">
          <app-leaderboard class="item"></app-leaderboard>
        </div>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Help</a>
      <ng-template ngbNavContent>
        <div class="item-container">
          <app-help class="item"></app-help>
          <h3 style="padding:15px;">or play a game..</h3>
          <app-game></app-game>
        </div>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Community</a>
      <ng-template ngbNavContent>
        <div class="item-container">
          <app-forum></app-forum>
        </div>
      </ng-template>
    </ng-container>
    <button class="btn btn-info" (click)="logout()"style="margin-left: auto;margin-right: 0;">Sign Out</button>
  </nav>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div> -->
  <!-- 
  <div style="display: flex; margin: 100px 100px; flex-wrap: wrap; justify-content: space-evenly;">
  </div> -->