<div *ngIf="showPage">
  <app-navbar [highlight]="'badges'"></app-navbar>
  <h3 class="card-title" style="margin-top: 20px;">Badges Earned</h3>
    <div style="display: flex; flex-wrap: wrap; justify-content:center;">
      <div class="card mb-3" style="width: 150px; margin: 10px;" *ngFor="let badge of badges; index as i">
        <div class="card-header">
          <h5>{{badge.name}}</h5>
        </div>
        <div class="card-body">
          <img *ngIf="!badge.obtained" src="{{'/assets/badges/' + i + '.png'}}" alt="image" class="center"
            style="filter: contrast(0%) brightness(150%);">
          <img *ngIf="badge.obtained" src="{{'/assets/badges/' + i + '.png'}}" alt="image" class="center">
          <p class="card-text" style="text-align: center;">{{badge.description}}</p>
        </div>
      </div>
    </div>
</div>
