<div style="background-color: #f5f5f5; width: 100vw; min-height: 100vh;height: min-content; position: absolute; left: 0; right: 0;">
    <!-- <app-profile></app-profile> -->
    <router-outlet></router-outlet>



    
    <!-- <app-forum></app-forum> -->
    <!-- <button *ngIf="this.loggedIn==2" (click)="login(false)" type="button" class="btn btn-primary" style="position: absolute; right: 10px; top: 10px;">Back</button> -->
    <!-- <app-registration *ngIf="this.loggedIn==2" (onSave)="save($event)"></app-registration>
    <button *ngIf="this.loggedIn==0" (click)="signUp()" type="button" class="btn btn-primary" style="position: absolute; right: 10px; top: 10px;">Sign Up</button>
    <app-login *ngIf="this.loggedIn==0" (onLogIn)="login($event)"></app-login>
    <app-main-body *ngIf="this.loggedIn==1" (onLogOut)="logout()"></app-main-body> -->
</div>
