<div class="card">
    <div class="card-body">
      <h2 class="card-title">{{formatNumber(amountSaved)}}</h2>
      <h6 class="card-subtitle mb-2 text-muted">Amount Saved</h6>
      <h2 class="card-title">{{formatNumber(amountSavedInAMonth)}}</h2>
      <h6 class="card-subtitle mb-2 text-muted">Amount Saved In A Month</h6>
      <h2 class="card-title">{{formatNumber(amountSavedInAYear)}}</h2>
      <h6 class="card-subtitle mb-2 text-muted">Amount Saved In A Year</h6>
      <p class="card-text">It’s not hard to figure out that quitting smoking is good for your finances. After all, cigarettes cost money – so every dollar you would have spent on a packet ends up as extra money in your pocket instead.</p>
      <button type="button" class="btn btn-info float-right" (click)="openSmokingDataForm()">Edit Smoking Data</button>
    </div>
  </div>